html { 
height: 100%;
overflow-y: scroll;
}
* { 
margin: 0;
padding: 0;}

body { 
font: normal .80em 'trebuchet ms', arial, sans-serif;
background: #FFF;
color: #000;}

p { 
padding: 0 0 20px 0;
line-height: 1.7em;}

img { 
border: 0;}

h1, h2, h3, h4, h5, h6  { 
font: normal 175% 'century gothic', arial, sans-serif;
color: #000;
margin: 0 0 15px 0;
padding: 15px 0 5px 0;}

h2 { 
font: normal 175% 'century gothic', arial, sans-serif;}

h4, h5, h6 { 
margin: 0;
padding: 0 0 5px 0;
font: normal 120% arial, sans-serif;}

h5, h6 { 
font: italic 95% arial, sans-serif;
padding: 0 0 15px 0;}

a { 
outline: none;
color: #000;
text-decoration: none;
}

a:hover { 
text-decoration: underline;}

.left { 
float: left;
width: auto;
margin-right: 10px;}

.right { 
float: right; 
width: auto;
margin-left: 10px;}

.center { 
display: block;
text-align: center;
margin: 20px auto;}

blockquote { 
margin: 20px 0; 
padding: 10px 20px 0 20px;
border: 1px solid #E5E5DB;
background: #FFF;}

ul { 
margin: 8px 0 22px 20px;}

ul li { 
margin: 0 0 11px 0;}

ol { 
margin: 8px 0 22px 20px;}

ol li { 
margin: 0 0 11px 0;}

#main, #logo, #menubar, #site_content, #footer { 
margin-left: auto; 
margin-right: auto;}

#header { 
background: transparent;
height: 182px;}

#logo { 
width: 898px;
position: relative;
height: 128px;
}

#logo #logo_text  { 
position: relative; 
top: 20px;
left: 33px;}

#logo h1, #logo h2 { 
font: normal 300% 'century gothic', arial, sans-serif;
border-bottom: 0;
text-transform: none;
margin: 0;}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover  { 
padding: 22px 0 0 0;
color: #000;
letter-spacing: -1px;
text-decoration: none;}

#logo_text h1 a .logo_colour { 
color: #999;}

#logo_text h2 { 
font-size: 100%;
padding: 4px 0 0 0;
color: #000;}

#menubar { 
width: 898px;
height: 52px;
padding: 0;
background: #FFF;
}
 
ul#menu, ul#menu li { 
float: left;
margin: 0; 
padding: 0;
}

ul#menu li { 
list-style: none;
}

ul#menu li a {
border-width:1px;
border-style: solid;
border-color:#FFF;
letter-spacing: 0.1em;
font: normal 1em arial, sans-serif;
display: block; 
float: left; 
height: 17px;
margin: 10px 0 0 10px;
padding: 9px 26px 6px 26px;
text-align: center;
color: #777;
text-transform: uppercase;
text-decoration: none;
background: transparent;}
 
ul#menu li a:hover { 
color: #777;
border-width:1px;
border-style: solid;
border-color:#777;
background: transparent;}

ul#menu li.selected a:hover { 
color: #000;
border-width:1px;
border-style: solid;
border-color:#000;
background: transparent;
}

ul#menu li.selected a { 
color: #000;
border-width:1px;
border-style: solid;
border-color:#FFF;
background: transparent;
}

#site_content { 
width: 854px;
overflow: hidden;
margin: 20px auto 0 auto;
padding: 0 0 20px 60px;
background: #FFF;
min-height:400px;}
 
.sidebar { 
float: right;
width: 210px;
padding: 0 15px 20px 15px;}

.sidebar ul { 
width: 198px; 
padding: 4px 0 0 0; 
margin: 4px 0 30px 0;}

.sidebar li { 
list-style: none; 
padding: 0 0 7px 0; }

.sidebar li a, .sidebar li a:hover { 
padding: 0 0 0 40px;
display: block;
background: transparent url(li.png) no-repeat left center;}
 
.sidebar li a.selected { 
color: #7E2451;
text-decoration: none;}
 
#content { 
text-align: left;
float: left;
width: 595px;
padding: 0;}

#content_main { 
text-align: left;
float: left;
width: 815px;
padding: 0;}

#content ul { 
margin: 2px 0 22px 20px;}

#content ul li { 
list-style-type: circle;
margin: 0 0 6px 0; 
padding: 0 0 4px 10px;
line-height: 1.5em;}

#footer { 
width: 898px;
font: normal 100% 'lucida sans unicode', arial, sans-serif;
height: 33px;
padding: 24px 0 5px 0;
text-align: center; 
background: transparent;
color: #000;
text-transform: uppercase;
letter-spacing: 0.1em;}

#footer a { 
color: #000;
text-decoration: none;}

#footer a:hover { 
color: #000;
text-decoration: underline;}

#colours { 
height: 0px;
text-align: right;
padding: 66px 16px 0px 300px;}

.lightbox {
	color:red;
}

.lightbox-target {
position: fixed;
top: -100%;
left:0px;
width: 100%;
background: rgba(0,0,0,.7);
width: 100%;
opacity: 0;
-webkit-transition: opacity .5s ease-in-out;
-moz-transition: opacity .5s ease-in-out;
-o-transition: opacity .5s ease-in-out;
transition: opacity .5s ease-in-out;
overflow: hidden;
}

.lightbox-target img {
margin: auto;
position: absolute;
top: 0;
left:0;
right:0;
bottom: 0;
max-height: 0%;
max-width: 0%;
border: 3px solid white;
box-shadow: 0px 0px 8px rgba(0,0,0,.3);
box-sizing: border-box;
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
}

a.lightbox-close {
display: block;
width:50px;
height:50px;
box-sizing: border-box;
background: white;
color: black;
text-decoration: none;
position: absolute;
top: -80px;
right: 0;
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
}

a.lightbox-close:before {
content: "";
display: block;
height: 30px;
width: 1px;
background: black;
position: absolute;
left: 26px;
top:10px;
-webkit-transform:rotate(45deg);
-moz-transform:rotate(45deg);
-o-transform:rotate(45deg);
transform:rotate(45deg);
}

a.lightbox-close:after {
content: "";
display: block;
height: 30px;
width: 1px;
background: black;
position: absolute;
left: 26px;
top:10px;
-webkit-transform:rotate(-45deg);
-moz-transform:rotate(-45deg);
-o-transform:rotate(-45deg);
transform:rotate(-45deg);
}

.lightbox-target:target {
opacity: 1;
top: 0;
bottom: 0;
}

.lightbox-target:target img {
max-height: 100%;
max-width: 100%;
}

.lightbox-target:target a.lightbox-close {
top: 0px;
}

.parallax {
    height: 400px;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
	margin-left: -100vw;  margin-right: -100vw; 
}


.nparallax {
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
	margin-left: -100vw;  margin-right: -100vw; 
}